.Card {
    border-radius: 10px;
    overflow: hidden;
    border: 10px, solid;
    padding:4px;
    margin: 10px;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.Card .Title {
    padding: 10px, 0px;
    justify-content: center;
    display: flex;
}

.Card .Content {
    background-color: white;
    color: black;
    padding:20px;
    border-radius:5px;
    flex:1;
    flex-wrap: inherit;
}
